@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');


$red : #d42020;
$green: #1b9110;
$grey:#404040;
$fontfam : 'Open Sans', sans-serif;

.container
{
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.smallbutton
{
    padding:12px;
    background:black;
    border:2px solid black;
    color: white;
    text-decoration: none;
    font-family: $fontfam;
    transition: all 0.3s ease-in;
    font-weight: bold;
    &:hover{
        background:white;
        color: black;
        text-decoration: none;
    }
}

.deletebutton
{
    padding:12px;
    background:$red;
    border:2px solid $red;
    color: white;
    font-family: $fontfam;
    transition: all 0.3s ease-in;
    text-decoration: none;
    font-weight: bold;
    &:hover{
        background:white;
        color: $red;
        text-decoration: none;
    }
}

.formfields
{
    display: flex;
    flex-direction: column;
    gap:30px;

    margin-top: 20px;
}

.errorbox
{
    padding:30px;
    background-color: $red;
    color: white;

    font-family: $fontfam;
}

p, h3, h1, h2, input, label, select, a, th, td, .nav-link
{
    font-family: $fontfam;
}

th
{
    font-size: 20px;
}

.details
{
    font-size: 20px;
}

.approve
{
    color: $green !important;
    font-weight: bold;
}

.reject
{
    color:$red !important;
    font-weight: bold;
}

.pend
{
    color:$grey !important;
    font-weight: bold;
}

td a
{
   color: black;
   font-weight: bold;
   text-decoration: underline; 
   &:hover{
    color:$grey
   }
}

.nav-link
{
    color: white;
    text-decoration: none;
    font-weight: bold;

    padding:10px 20px 10px 20px !important;

    &:hover
    {
        text-decoration: none;
    }
}

.active
{
    border: 1px solid white;
}


.home-alert
{
    margin-top: 70px;
}